<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
</head>

<body>
  <h1>¡Bienvenido a nuestra página principal!</h1>
  <p>Explora las siguientes opciones:</p>
  <ul>
    <li><a href="/bienvenida">Bienvenida al Centro de Animales</a></li>
    <li><a href="/edad-perruna/5">Convertidor Edad Perro-Humano</a></li>
    <li><a href="/numeros-impares">Números impares del 1 al 15</a></li>
  </ul>
</body>

</html>