<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenida</title>
</head>

<body>
  <h1>Bienvenid@ al centro de adopción, <%= nombre ? nombre : 'visitante' %>!</h1>
  <a href="/">Volver a la página de inicio</a>
</body>

</html>